/*
    Unidades de medida
    px => pixel
    vh => view height / a Altura da tela dividido por 100
    vw => view width / a Largura da tela dividido por 100
    cm => centímetro
    top => cima
    bottom => baixo
    left => esquerda
    right => direita

    width => LARGURA
    height => ALTURA
    background-image => Troca a imagem de fundo
    font-size => Troca o tamanho do texto
    color => Troca a cor do texto
    font-familiy => Troca a fonte do texto
    display => Troca a forma que o elemento se comporta na tela. Ex: Fica soinho na linha ou na mesma linha de outros elementos.
    cursor => Muda o cursor do mouse
    position => Serve para definir como vamos posicionar os elementos na tela
    border-radius => arredonda as bordas
    float => joga o elemento para direita ou para a esquerda
    padding => espaçamento interno
    margin => espaçmento externo
    text-align => alinhamento do texto
    href => local para onde queremos que o link nos envie
    opacity => transparência do elemento

*/

/*ESTILOS GLOBAIS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*MENU SUPERIOR E BACKGROUND*/
.caixa-superior {
    background-image: url("./img/dev_contabil.png");
    background-size: cover;
    height: 100vh;
}

.cabecalho {
    padding-top: 38px;
    /*Se usar a propriedade margin ele vai trazer tudo para baixo, inclusive a imagem. Usando padding eu trago apenas o texto para baixo, a imagem continua no mesmo lugar.*/
    padding-left: 39px;
}

.titulo-cabecalho {
    font-size: 24px;
    color: #FFFFFF;
    display: inline;
    margin-right: 137px;
}

.link-cabecalho {
    font-size: 14px;
    color: #FFFFFF;
    display: inline;
    margin-left: 21px;
    cursor: pointer;
    text-decoration: none;
}

h1 {
    font-size: 58px;
    color: #FFFFFF;
    position: relative;
    top: 280px;
    margin-left: 65px;
}

/*FORMULÁRIO DE CONTATO*/
form {
    opacity: 0;
    transition: opacity 1s linear;
    background-color: #FFFFFF;
    border-radius: 10px;
    float: right;
    padding: 20px;
    margin-right: 58px;
    position: relative;
    bottom: 50px;
}

.mostrar-formulario {
    opacity: 1;
}

input {
    display: block;
    /*Deixa cada elemento na sua linha.*/
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    height: 50px;
    width: 356px;
    margin-bottom: 20px;
    padding-left: 15px;
}

textarea {
    display: block;
    /*Deixa cada elemento na sua linha.*/
    height: 100px;
    width: 356px;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-top: 10px;
}

.titulo-formulario {
    font-size: 24px;
    color: #252B42;
    margin-bottom: 40px;
    text-align: center;
}

label {
    font-size: 14px;
    color: #252B42;
}

button {
    height: 50px;
    width: 356px;
    cursor: pointer;
    border: none;
    background: #40BB15;
    border-radius: 5px;
    color: #FFFFFF;
}

button:hover {
    background-color: #268105;
    transition: 0.5s;
}

/*CARDS DE SERVIÇOS*/
.caixa-central {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

#titulo-meio {
    font-size: 40px;
    color: #252B42;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    width: 300px;
    border-radius: 10px;
    border: 1px solid #A9D6FF;
}

.titulo-card {
    background-color: #219653;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
}

ul {
    padding: 20px;
    background: #EEF6FF;
    border-radius: 0px 0px 11px 11px;
}

li {
    margin-bottom: 5px;
    margin-left: 50px;
}

/*FOOTER*/

.caixa-inferior {
    background-color: #062a4b;
}

#titulo-inferior {
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
}

.paragrafo-inferior {
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 50px 50px 50px;
    text-align: justify;
}

@media screen and (max-width: 900px) {
    .caixa-superior {
        height: 100vh;
    }

    .titulo-cabecalho {
        display: none;
    }

    h1 {
        display: block;
        text-align: center;
        margin: auto;
        top: 40%;
    }

    .link-cabecalho:not(:last-child) {
        display: none;
        text-align: left;
    }

    .caixa-central {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;

    }

    form {
        display: block;
        margin: auto;
        float: none;
        width: 356px;
    }

    input {
        width: 20rem;
    }

    textarea {
        width: 20rem;
    }

    button {
        width: 20rem;
    }

}